/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f3f5f7;
    color: #333;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Igual al padding-top del body para compensar el header fijo */
    height: 100%;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}
