/* Buttons Styles */
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.schedule-btn {
    background-color: #212467; 
    color: white;
    padding: 12px 30px;
    font-size: 1rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.schedule-btn:hover {
    background-color: #181a4d; 
}

.schedule-btn-large {
    background-color: #212467; 
    color: white;
    padding: 15px 40px;
    font-size: 1.2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.schedule-btn-large:hover {
    background-color: #181a4d; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-btn {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-btn:hover {
    background-color: #f1f1f1;
}
